In [ ]:
import pandas as pd

In [ ]:
dados_BR = pd.read_csv('/content/caso_full.csv')

In [ ]:
dados_BR

                 city  city_ibge_code  ... new_confirmed  new_deaths
0          Rio Branco       1200401.0  ...             3           0
1                 NaN            12.0  ...             3           0
2          Rio Branco       1200401.0  ...             0           0
3                 NaN            12.0  ...             0           0
4          Rio Branco       1200401.0  ...             1           0
...               ...             ...  ...           ...         ...
2281163      Tupirama       1721257.0  ...             0           0
2281164    Tupiratins       1721307.0  ...             0           0
2281165  Wanderlândia       1722081.0  ...             0           0
2281166       Xambioá       1722107.0  ...             0           0
2281167           NaN            17.0  ...             0           0

[2281168 rows x 18 columns]

In [ ]:
dados_BR.dtypes

city                                              object
city_ibge_code                                   float64
date                                              object
epidemiological_week                               int64
estimated_population                             float64
estimated_population_2019                        float64
is_last                                             bool
is_repeated                                         bool
last_available_confirmed                           int64
last_available_confirmed_per_100k_inhabitants    float64
last_available_date                               object
last_available_death_rate                        float64
last_available_deaths                              int64
order_for_place                                    int64
place_type                                        object
state                                             object
new_confirmed                                      int64
new_deaths                                         int64
dtype: object

In [ ]:
dados_BR[dados_BR['state']== 'CE']

                   city  city_ibge_code  ... new_confirmed  new_deaths
257429          Aquiraz       2301000.0  ...             1           0
257430        Fortaleza       2304400.0  ...             8           0
257431              NaN            23.0  ...             9           0
257432          Aquiraz       2301000.0  ...             0           0
257433        Fortaleza       2304400.0  ...             1           0
...                 ...             ...  ...           ...         ...
337078           Uruoca       2313906.0  ...             0           0
337079          Varjota       2313955.0  ...             0           0
337080  Viçosa do Ceará       2314102.0  ...             0           0
337081    Várzea Alegre       2314003.0  ...             0           0
337082              NaN            23.0  ...          2013          37

[79654 rows x 18 columns]

Filtrar os dados apenas do Ceará

In [ ]:
dados_CE = dados_BR[dados_BR['state'] == 'CE']

In [ ]:
dados_CE.to_csv('covid_CE')

Dados baixados e salvos nesse [repositório do Github](https://github.com/renanmath/Bootcamp_Projeto_Modulo03/blob/main/dados/covid_CE).